* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-en-es.en-es-poly.dix -text
/apertium-en-es.en-es-vacio.t1x -text
/apertium-en-es.en-es.dix -text
/apertium-en-es.en-es.genitive.t1x -text
/apertium-en-es.en-es.t1x -text
/apertium-en-es.en-es.t2x -text
/apertium-en-es.en-es.t3x -text
/apertium-en-es.en.acx -text
/apertium-en-es.en.metadix -text
/apertium-en-es.en.tsx -text
/apertium-en-es.es-en-poly.dix -text
/apertium-en-es.es-en.t1x -text
/apertium-en-es.es-en.t2x -text
/apertium-en-es.es-en.t3x -text
/apertium-en-es.es.acx -text
/apertium-en-es.es.dix -text
/apertium-en-es.es.tsx -text
/apertium-en-es.post-en.dix -text
/apertium-en-es.post-es.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
/en-es-unsupervised.make -text
/en-es.prob -text svneol=unset#unset
/es-en-supervised.make -text
/es-en-unsupervised.make -text
/es-en.prob -text svneol=unset#unset
incubator/en-es-please-check.dix -text
incubator/en-es-to-translate.dix -text
incubator/en-unknown.txt -text
incubator/lcfirst.pl -text
/modes.xml -text
/principal.xsl -text
/testvoc-en-es -text
/translate-to-default-equivalent.xsl -text
wikinews/ceausescu-2010-07-21.apertium1-post.txt -text
wikinews/ceausescu-2010-07-21.apertium1.txt -text
wikinews/ceausescu-2010-07-21.babelfish.txt -text
wikinews/ceausescu-2010-07-21.orig.txt -text
wikinews/ceausescu-2010-07-21.promt.txt -text
wikinews/china-2010-07-19.apertium1-post.txt -text
wikinews/china-2010-07-19.apertium1.txt -text
wikinews/china-2010-07-19.babelfish.txt -text
wikinews/china-2010-07-19.google-edit.txt -text
wikinews/china-2010-07-19.google.txt -text
wikinews/china-2010-07-19.orig.txt -text
wikinews/china-2010-07-19.promt.txt -text
