* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-en-es.en-es.dix.xml -text
/apertium-en-es.en-es.t1x -text
/apertium-en-es.en-es.t2x -text
/apertium-en-es.en-es.t3x -text
/apertium-en-es.en.metadix -text
/apertium-en-es.es-en.t1x -text
/apertium-en-es.es-en.t2x -text
/apertium-en-es.es-en.t3x -text
/apertium-en-es.es.dix.xml -text
/apertium-en-es.post-en.dix -text
/apertium-en-es.post-es.dix -text
/apertium-en-es.trules-en-es.xml -text
/apertium-en-es.trules-es-en.xml -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
en-dic/apertium-en-es.en.metadix -text
en-es-dic/apertium-en-es.en-es.adjectives.xml -text
en-es-dic/apertium-en-es.en-es.adverbs.xml -text
en-es-dic/apertium-en-es.en-es.conjunctions.xml -text
en-es-dic/apertium-en-es.en-es.determiners.xml -text
en-es-dic/apertium-en-es.en-es.dix.xml -text
en-es-dic/apertium-en-es.en-es.interjections.xml -text
en-es-dic/apertium-en-es.en-es.nouns.xml -text
en-es-dic/apertium-en-es.en-es.numerals.xml -text
en-es-dic/apertium-en-es.en-es.prepositions.xml -text
en-es-dic/apertium-en-es.en-es.pronouns.xml -text
en-es-dic/apertium-en-es.en-es.proper-nouns.xml -text
en-es-dic/apertium-en-es.en-es.punctuation.xml -text
en-es-dic/apertium-en-es.en-es.relatives.xml -text
en-es-dic/apertium-en-es.en-es.symbols.xml -text
en-es-dic/apertium-en-es.en-es.verbs.xml -text
/en-es.prob -text svneol=unset#unset
es-dic/apertium-en-es.es.adjectives.xml -text
es-dic/apertium-en-es.es.adverbs.xml -text
es-dic/apertium-en-es.es.conjunctions.xml -text
es-dic/apertium-en-es.es.determiners.xml -text
es-dic/apertium-en-es.es.dix.xml -text
es-dic/apertium-en-es.es.interjections.xml -text
es-dic/apertium-en-es.es.nouns.xml -text
es-dic/apertium-en-es.es.numerals.xml -text
es-dic/apertium-en-es.es.pardefs.xml -text
es-dic/apertium-en-es.es.prepositions.xml -text
es-dic/apertium-en-es.es.pronouns.xml -text
es-dic/apertium-en-es.es.proper-nouns.xml -text
es-dic/apertium-en-es.es.relatives.xml -text
es-dic/apertium-en-es.es.symbols.xml -text
es-dic/apertium-en-es.es.verbs.xml -text
/es-en.prob -text svneol=unset#unset
/modes.xml -text
/principal.xsl -text
/translate-to-default-equivalent.xsl -text
